<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/min.css">
    <link rel="stylesheet" href="/static/min.js">

</head>
<body>
    <h2>Your Shopping cart information</h2>

    {% if request.session %}
    <table border="2">
        <thead>
            <th>Item Name</th>
            <th>Quantity</th>

        </thead>

        {% for key,value in request.session.items %}

        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>

        {% endfor %}

    </table>
    {% else %}

    <p>No item in your shopping cart....</p>
    {% endif %}
</body>
</html>