<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/min.css">
    <link rel="stylesheet" href="/static/min.js">
    <link rel="stylesheet" href="/static/movie.css">
    <title>Document</title>
</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron">
            <h1>Jayesh Movies</h1>
            <p>Upto date Movie Information</p>

            <a href="/addmovie" class="btn btn-primary btn-lg" role="button" >Add Movie</a>

            <a href="/listmovie" class="btn btn-primary btn-lg" role="button">List Movies</a>

        </div>

    </div>
   

</body>
</html>