<!DOCTYPE html>
{% extends 'base.html' %}

    {% block body_block %}

        <div class="jumbotron">
            <div class="container">
                <h1>Thanks for visiting DurgaSoft</h1>

                <p>Anyway we are very sad b'z you logout 24 hours per day you have to spend with our website like facebook</p>

                <h2>Please Login again...</h2>


                <a href="/login" class="btn btn-primary btn-lg btn-sucesss">
                    Login
                </a>
            </div>
        </div>
    {% endblock %} 