<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: green;
            color:whitesmoke;
            margin-top: 200px;
            margin-left: 400px;
        }
    </style>
</head>
<body>
    <h1>This response from templates file .....</h1>

    <h2>The server date and time is ....{{date}}</h2>

    <ol>
        <li>Name :{{name}}</li>
        <li>Roll No :{{roll}}</li>
        <li>MArks :{{marks}}</li>

    </ol>


</body>
</html>